<p-card class="w-full card ml-2 ">
    <img
        src="https://rukminim2.flixcart.com/image/612/612/xif0q/computer/o/x/7/-original-imagxhuxsfczqrzn.jpeg?q=70"
        alt>
    <div class="p-4 pt-5">
        <h3>Product brand</h3>
        <h4>Product name</h4>
    </div>
    <div class="flex justify-center px-3 py-1 gap-3">
        <span class="text-green-500">Rs:300</span>
        <span class="text-gray-500"><s>Rs:600</s></span>
        <span class="text-orange-500">(50% off)</span>
    </div>
</p-card>