<div>
    <h2 class="pl-3 py-3">product List</h2>
    <input type="text"
        class="w-11/12 p-2 flex  ml-8"
        placeholder="Search here">
    <div class="w-full flex flex-wrap">
        <div class="w-2/12 p-3 px-3 mb-3">
            <p-card class="w-full card ml-2 ">
                <img
                    src="https://rukminim2.flixcart.com/image/612/612/xif0q/computer/o/x/7/-original-imagxhuxsfczqrzn.jpeg?q=70"
                    alt>
                <div class="p-4 pt-5">
                    <h3>Product brand</h3>
                    <h4>Product name</h4>
                </div>
                <div class="flex justify-center px-3 py-1 gap-3">
                    <span class="text-green-500">Rs:300</span>
                    <span class="text-gray-500"><s>Rs:600</s></span>
                    <span class="text-orange-500">(50% off)</span>
                </div>
            </p-card>
        </div>
        <div class="w-2/12 p-3 px-3 mb-3">
            <p-card class="w-full card ml-2 ">
                <img
                    src="https://rukminim2.flixcart.com/image/612/612/xif0q/computer/o/x/7/-original-imagxhuxsfczqrzn.jpeg?q=70"
                    alt>
                <div class="p-4 pt-5">
                    <h3>Product brand</h3>
                    <h4>Product name</h4>
                </div>
                <div class="flex justify-center px-3 py-1 gap-3">
                    <span class="text-green-500">Rs:300</span>
                    <span class="text-gray-500"><s>Rs:600</s></span>
                    <span class="text-orange-500">(50% off)</span>
                </div>
            </p-card>
        </div> <div class="w-2/12 p-3 px-3 mb-3">
            <p-card class="w-full card ml-2 ">
                <img
                    src="https://rukminim2.flixcart.com/image/612/612/xif0q/computer/o/x/7/-original-imagxhuxsfczqrzn.jpeg?q=70"
                    alt>
                <div class="p-4 pt-5">
                    <h3>Product brand</h3>
                    <h4>Product name</h4>
                </div>
                <div class="flex justify-center px-3 py-1 gap-3">
                    <span class="text-green-500">Rs:300</span>
                    <span class="text-gray-500"><s>Rs:600</s></span>
                    <span class="text-orange-500">(50% off)</span>
                </div>
            </p-card>
        </div> <div class="w-2/12 p-3 px-3 mb-3">
            <p-card class="w-full card ml-2 ">
                <img
                    src="https://rukminim2.flixcart.com/image/612/612/xif0q/computer/o/x/7/-original-imagxhuxsfczqrzn.jpeg?q=70"
                    alt>
                <div class="p-4 pt-5">
                    <h3>Product brand</h3>
                    <h4>Product name</h4>
                </div>
                <div class="flex justify-center px-3 py-1 gap-3">
                    <span class="text-green-500">Rs:300</span>
                    <span class="text-gray-500"><s>Rs:600</s></span>
                    <span class="text-orange-500">(50% off)</span>
                </div>
            </p-card>
        </div> <div class="w-2/12 p-3 px-3 mb-3">
            <p-card class="w-full card ml-2 ">
                <img
                    src="https://rukminim2.flixcart.com/image/612/612/xif0q/computer/o/x/7/-original-imagxhuxsfczqrzn.jpeg?q=70"
                    alt>
                <div class="p-4 pt-5">
                    <h3>Product brand</h3>
                    <h4>Product name</h4>
                </div>
                <div class="flex justify-center px-3 py-1 gap-3">
                    <span class="text-green-500">Rs:300</span>
                    <span class="text-gray-500"><s>Rs:600</s></span>
                    <span class="text-orange-500">(50% off)</span>
                </div>
            </p-card>
        </div> <div class="w-2/12 p-3 px-3 mb-3">
            <p-card class="w-full card ml-2 ">
                <img
                    src="https://rukminim2.flixcart.com/image/612/612/xif0q/computer/o/x/7/-original-imagxhuxsfczqrzn.jpeg?q=70"
                    alt>
                <div class="p-4 pt-5">
                    <h3>Product brand</h3>
                    <h4>Product name</h4>
                </div>
                <div class="flex justify-center px-3 py-1 gap-3">
                    <span class="text-green-500">Rs:300</span>
                    <span class="text-gray-500"><s>Rs:600</s></span>
                    <span class="text-orange-500">(50% off)</span>
                </div>
            </p-card>
        </div> <div class="w-2/12 p-3 px-3 mb-3">
            <p-card class="w-full card ml-2 ">
                <img
                    src="https://rukminim2.flixcart.com/image/612/612/xif0q/computer/o/x/7/-original-imagxhuxsfczqrzn.jpeg?q=70"
                    alt>
                <div class="p-4 pt-5">
                    <h3>Product brand</h3>
                    <h4>Product name</h4>
                </div>
                <div class="flex justify-center px-3 py-1 gap-3">
                    <span class="text-green-500">Rs:300</span>
                    <span class="text-gray-500"><s>Rs:600</s></span>
                    <span class="text-orange-500">(50% off)</span>
                </div>
            </p-card>
        </div> <div class="w-2/12 p-3 px-3 mb-3">
            <p-card class="w-full card ml-2 ">
                <img
                    src="https://rukminim2.flixcart.com/image/612/612/xif0q/computer/o/x/7/-original-imagxhuxsfczqrzn.jpeg?q=70"
                    alt>
                <div class="p-4 pt-5">
                    <h3>Product brand</h3>
                    <h4>Product name</h4>
                </div>
                <div class="flex justify-center px-3 py-1 gap-3">
                    <span class="text-green-500">Rs:300</span>
                    <span class="text-gray-500"><s>Rs:600</s></span>
                    <span class="text-orange-500">(50% off)</span>
                </div>
            </p-card>
        </div> <div class="w-2/12 p-3 px-3 mb-3">
            <p-card class="w-full card ml-2 ">
                <img
                    src="https://rukminim2.flixcart.com/image/612/612/xif0q/computer/o/x/7/-original-imagxhuxsfczqrzn.jpeg?q=70"
                    alt>
                <div class="p-4 pt-5">
                    <h3>Product brand</h3>
                    <h4>Product name</h4>
                </div>
                <div class="flex justify-center px-3 py-1 gap-3">
                    <span class="text-green-500">Rs:300</span>
                    <span class="text-gray-500"><s>Rs:600</s></span>
                    <span class="text-orange-500">(50% off)</span>
                </div>
            </p-card>
        </div>
    </div>
</div>
<div *ngFor="let product of products">
    <p>{{ product.name }}</p>
    <p>{{ product.price }}</p>
    <!-- Add more properties as needed -->
</div>
