<header class="text-white body-font bg-blue-500">
    <div
        class="  flex flex-row  p-1  items-start ">
        <a
            class="flex title-font font-semibold items-start text-white mb-3 ml-4 mt-1 pt-1 md:mb-0">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                stroke="currentColor" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2"
                class="w-10 h-10 text-white p-2 mt-1 bg-indigo-500 rounded-full"
                viewBox="0 0 24 24">
                <path
                    d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg>
            <span
                class="ml-3 text-2xl  flex flex-row text-white no-underline pt-2">Ecommerce
            </span>
        </a>

    </div>
</header>
<app-home></app-home>
<router-outlet></router-outlet>
